{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<br>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
<h1 class="text-center animate__animated fadeIn">Welcome to Online Voting System</h1>
<h2 class="text-center animate__animated fadeIn">Hi, {{ request.user.get_full_name }}</h2>
{% if voting_time %}
  <p class="text-center">Voting Period: {{ voting_time.voting_start }} to {{ voting_time.voting_end }}</p>
{% endif %}


   
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
      <a class="btn btn-primary btn-lg btn-block animate__animated fadeIn"
         href="{% url 'position' %}"
         {% if not voting_open %}onclick="alert('The voting portal is closed.'); return false;"{% endif %}>
        Click Here To Vote
      </a>
    </div>
    <div class="col-md-7 mb-4">
      <a class="btn btn-secondary btn-lg btn-block animate__animated fadeIn"
         href="{% url 'result' %}"
         {% if voting_open %}onclick="alert('Voting is not yet over.'); return false;"{% endif %}>
        Click Here To See Result
      </a>
    </div>
  </div>
</div>
  


<style>
  body {
    background: linear-gradient(45deg, #b57bee, #00e3fd);
    background-image: url("/static/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
  
  }

  .animate__animated.fadeIn {
    animation: fadeIn 4s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .container .row {
      margin-top: -0vh;
    }
  }
</style>
{% endblock %}
